
/* Cabeçalho */
body{
    background: #def6ff;;
}
    header {
                            
    background-color:#fff;          
    }
    nav {                                             
        background-color:#01AAE7;
        height: 10px;
        }
.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    background-color:#1088b4; 
    color: white;
    border:none;
    transition: 1s;
 }
.btn:hover {
background-color:#01AAE7;
}
footer {
    background-color:#002f3f;
    color: white;
}
